name: Checkout Example

on:
  push:
  pull_request:

jobs:
  checkout-example:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Verify code on runner
      - name: List files and folders
        run: ls -alhR
